DATABASE_URL=
SESSION_ID=
REMOVEBG_KEY=
PREFIX=.
MODE=public
AutoReaction=true
STATUSVIEW=true
ANTI_LINK=false 
ANTI_CALL=false
VIEWONCE=true
Status_Saver=true
STATUSLIKES=true
REPLY_STATUS=false 
antidelete=true
BOT_NAME=Prince
AUTOREAD=true
AlwaysOnline=true
OWNERS=917439317360;NOIR
DL_MSG=Downloaded successfully
STATUS_MSG=Status seen by NOIR

